



h1 dhruv

div
  table
    thead
        tr: th Report ID
            th platform
            th Name
            th EmailID
            th Date of Incident

      tbody
        each val in document
          tr
            td= val._id

            each vaa in val.report
              if vaa.name
                td= vaa.name
              if vaa.userEmail
                td= vaa.userEmail

              if vaa.campus
                - var campuslocal = vaa.campus + <br> + vaa.building + <br> +  "Floor:" + vaa.floor + <br> +  "Room:" + vaa.room
                td= campuslocal
              else
                td= vaa.location
              if vaa.details
                td= vaa.details
              if vaa.type
                td= vaa.type
