



h1 dhruv

div
  table
    thead
        tr: th Report ID
            th platform
            th Name
            th EmailID
            th Date of Incident

      tbody
        each val in document
          tr
            td= val._id

            each vaa in val.report
              if vaa.name
                td= vaa.name
              if vaa.userEmail
                td= vaa.userEmail

              if vaa.campus

                td= | vaa.campus
                    | vaa.building
                    |"Floor:" + vaa.floor
                    |"Room:" + vaa.room
              else
                td= vaa.location
              if vaa.details
                td= vaa.details
              if vaa.type
                td= vaa.type
