



h1 dhruv

div
  table
    thead
        tr: th Report ID
            th Name
      tbody
        each val in document
          tr
            td= val._id

            each report in val.report
              each meta in report.metadata
                td= meta.type
              each data in report.data
                td= data.name
                td= data.userEmail
                td= data.date
